div.list-card.purple-label {
    background: hsl(300, 100%, 90%) !important;
}
div.list-card.purple-label.green-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 40%, hsl(120, 100%, 90%) 60%, hsl(120, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.yellow-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 20%, hsl(120, 100%, 90%) 40%, hsl(120, 100%, 90%) 60%, hsl(60, 100%, 90%) 80%, hsl(60, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.yellow-label.orange-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 10%, hsl(120, 100%, 90%) 30%, hsl(120, 100%, 90%) 40%, hsl(60, 100%, 90%) 60%, hsl(60, 100%, 90%) 70%, hsl(30, 100%, 90%) 90%, hsl(30, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.yellow-label.orange-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 4%, hsl(120, 100%, 90%) 24%, hsl(120, 100%, 90%) 28%, hsl(60, 100%, 90%) 48%, hsl(60, 100%, 90%) 52%, hsl(30, 100%, 90%) 72%, hsl(30, 100%, 90%) 76%, hsl(240, 100%, 90%) 96%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.yellow-label.orange-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 0%, hsl(120, 100%, 90%) 20%, hsl(120, 100%, 90%) 20%, hsl(60, 100%, 90%) 40%, hsl(60, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(30, 100%, 90%) 60%, hsl(240, 100%, 90%) 80%, hsl(240, 100%, 90%) 80%, hsl(0, 100%, 90%) 100%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.yellow-label.orange-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 4%, hsl(120, 100%, 90%) 24%, hsl(120, 100%, 90%) 28%, hsl(60, 100%, 90%) 48%, hsl(60, 100%, 90%) 52%, hsl(30, 100%, 90%) 72%, hsl(30, 100%, 90%) 76%, hsl(0, 100%, 90%) 96%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.yellow-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 10%, hsl(120, 100%, 90%) 30%, hsl(120, 100%, 90%) 40%, hsl(60, 100%, 90%) 60%, hsl(60, 100%, 90%) 70%, hsl(240, 100%, 90%) 90%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.yellow-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 4%, hsl(120, 100%, 90%) 24%, hsl(120, 100%, 90%) 28%, hsl(60, 100%, 90%) 48%, hsl(60, 100%, 90%) 52%, hsl(240, 100%, 90%) 72%, hsl(240, 100%, 90%) 76%, hsl(0, 100%, 90%) 96%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.yellow-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 10%, hsl(120, 100%, 90%) 30%, hsl(120, 100%, 90%) 40%, hsl(60, 100%, 90%) 60%, hsl(60, 100%, 90%) 70%, hsl(0, 100%, 90%) 90%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.orange-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 20%, hsl(120, 100%, 90%) 40%, hsl(120, 100%, 90%) 60%, hsl(30, 100%, 90%) 80%, hsl(30, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.orange-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 10%, hsl(120, 100%, 90%) 30%, hsl(120, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(30, 100%, 90%) 70%, hsl(240, 100%, 90%) 90%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.orange-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 4%, hsl(120, 100%, 90%) 24%, hsl(120, 100%, 90%) 28%, hsl(30, 100%, 90%) 48%, hsl(30, 100%, 90%) 52%, hsl(240, 100%, 90%) 72%, hsl(240, 100%, 90%) 76%, hsl(0, 100%, 90%) 96%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.orange-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 10%, hsl(120, 100%, 90%) 30%, hsl(120, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(30, 100%, 90%) 70%, hsl(0, 100%, 90%) 90%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 20%, hsl(120, 100%, 90%) 40%, hsl(120, 100%, 90%) 60%, hsl(240, 100%, 90%) 80%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 10%, hsl(120, 100%, 90%) 30%, hsl(120, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(240, 100%, 90%) 70%, hsl(0, 100%, 90%) 90%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.green-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 20%, hsl(120, 100%, 90%) 40%, hsl(120, 100%, 90%) 60%, hsl(0, 100%, 90%) 80%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.yellow-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 40%, hsl(60, 100%, 90%) 60%, hsl(60, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.yellow-label.orange-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 20%, hsl(60, 100%, 90%) 40%, hsl(60, 100%, 90%) 60%, hsl(30, 100%, 90%) 80%, hsl(30, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.yellow-label.orange-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 10%, hsl(60, 100%, 90%) 30%, hsl(60, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(30, 100%, 90%) 70%, hsl(240, 100%, 90%) 90%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.yellow-label.orange-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 4%, hsl(60, 100%, 90%) 24%, hsl(60, 100%, 90%) 28%, hsl(30, 100%, 90%) 48%, hsl(30, 100%, 90%) 52%, hsl(240, 100%, 90%) 72%, hsl(240, 100%, 90%) 76%, hsl(0, 100%, 90%) 96%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.yellow-label.orange-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 10%, hsl(60, 100%, 90%) 30%, hsl(60, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(30, 100%, 90%) 70%, hsl(0, 100%, 90%) 90%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.yellow-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 20%, hsl(60, 100%, 90%) 40%, hsl(60, 100%, 90%) 60%, hsl(240, 100%, 90%) 80%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.yellow-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 10%, hsl(60, 100%, 90%) 30%, hsl(60, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(240, 100%, 90%) 70%, hsl(0, 100%, 90%) 90%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.yellow-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 20%, hsl(60, 100%, 90%) 40%, hsl(60, 100%, 90%) 60%, hsl(0, 100%, 90%) 80%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.orange-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(30, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.orange-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 20%, hsl(30, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(240, 100%, 90%) 80%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.orange-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 10%, hsl(30, 100%, 90%) 30%, hsl(30, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(240, 100%, 90%) 70%, hsl(0, 100%, 90%) 90%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.orange-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 20%, hsl(30, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(0, 100%, 90%) 80%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 20%, hsl(240, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(0, 100%, 90%) 80%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.purple-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(300, 100%, 90%) 0%, hsl(300, 100%, 90%) 40%, hsl(0, 100%, 90%) 60%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.green-label {
    background: hsl(120, 100%, 90%) !important;
}
div.list-card.green-label.yellow-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 40%, hsl(60, 100%, 90%) 60%, hsl(60, 100%, 90%) 100%) !important;
}
div.list-card.green-label.yellow-label.orange-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 20%, hsl(60, 100%, 90%) 40%, hsl(60, 100%, 90%) 60%, hsl(30, 100%, 90%) 80%, hsl(30, 100%, 90%) 100%) !important;
}
div.list-card.green-label.yellow-label.orange-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 10%, hsl(60, 100%, 90%) 30%, hsl(60, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(30, 100%, 90%) 70%, hsl(240, 100%, 90%) 90%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.green-label.yellow-label.orange-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 4%, hsl(60, 100%, 90%) 24%, hsl(60, 100%, 90%) 28%, hsl(30, 100%, 90%) 48%, hsl(30, 100%, 90%) 52%, hsl(240, 100%, 90%) 72%, hsl(240, 100%, 90%) 76%, hsl(0, 100%, 90%) 96%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.green-label.yellow-label.orange-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 10%, hsl(60, 100%, 90%) 30%, hsl(60, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(30, 100%, 90%) 70%, hsl(0, 100%, 90%) 90%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.green-label.yellow-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 20%, hsl(60, 100%, 90%) 40%, hsl(60, 100%, 90%) 60%, hsl(240, 100%, 90%) 80%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.green-label.yellow-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 10%, hsl(60, 100%, 90%) 30%, hsl(60, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(240, 100%, 90%) 70%, hsl(0, 100%, 90%) 90%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.green-label.yellow-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 20%, hsl(60, 100%, 90%) 40%, hsl(60, 100%, 90%) 60%, hsl(0, 100%, 90%) 80%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.green-label.orange-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(30, 100%, 90%) 100%) !important;
}
div.list-card.green-label.orange-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 20%, hsl(30, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(240, 100%, 90%) 80%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.green-label.orange-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 10%, hsl(30, 100%, 90%) 30%, hsl(30, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(240, 100%, 90%) 70%, hsl(0, 100%, 90%) 90%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.green-label.orange-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 20%, hsl(30, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(0, 100%, 90%) 80%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.green-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.green-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 20%, hsl(240, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(0, 100%, 90%) 80%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.green-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(120, 100%, 90%) 0%, hsl(120, 100%, 90%) 40%, hsl(0, 100%, 90%) 60%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.yellow-label {
    background: hsl(60, 100%, 90%) !important;
}
div.list-card.yellow-label.orange-label {
    background-image: -moz-linear-gradient(to right, hsl(60, 100%, 90%) 0%, hsl(60, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(30, 100%, 90%) 100%) !important;
}
div.list-card.yellow-label.orange-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(60, 100%, 90%) 0%, hsl(60, 100%, 90%) 20%, hsl(30, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(240, 100%, 90%) 80%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.yellow-label.orange-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(60, 100%, 90%) 0%, hsl(60, 100%, 90%) 10%, hsl(30, 100%, 90%) 30%, hsl(30, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(240, 100%, 90%) 70%, hsl(0, 100%, 90%) 90%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.yellow-label.orange-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(60, 100%, 90%) 0%, hsl(60, 100%, 90%) 20%, hsl(30, 100%, 90%) 40%, hsl(30, 100%, 90%) 60%, hsl(0, 100%, 90%) 80%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.yellow-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(60, 100%, 90%) 0%, hsl(60, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.yellow-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(60, 100%, 90%) 0%, hsl(60, 100%, 90%) 20%, hsl(240, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(0, 100%, 90%) 80%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.yellow-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(60, 100%, 90%) 0%, hsl(60, 100%, 90%) 40%, hsl(0, 100%, 90%) 60%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.orange-label {
    background: hsl(30, 100%, 90%) !important;
}
div.list-card.orange-label.blue-label {
    background-image: -moz-linear-gradient(to right, hsl(30, 100%, 90%) 0%, hsl(30, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(240, 100%, 90%) 100%) !important;
}
div.list-card.orange-label.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(30, 100%, 90%) 0%, hsl(30, 100%, 90%) 20%, hsl(240, 100%, 90%) 40%, hsl(240, 100%, 90%) 60%, hsl(0, 100%, 90%) 80%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.orange-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(30, 100%, 90%) 0%, hsl(30, 100%, 90%) 40%, hsl(0, 100%, 90%) 60%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.blue-label {
    background: hsl(240, 100%, 90%) !important;
}
div.list-card.blue-label.red-label {
    background-image: -moz-linear-gradient(to right, hsl(240, 100%, 90%) 0%, hsl(240, 100%, 90%) 40%, hsl(0, 100%, 90%) 60%, hsl(0, 100%, 90%) 100%) !important;
}
div.list-card.red-label {
    background: hsl(0, 100%, 90%) !important;
}
.card-labels {
    display: none !important;
}
